*{
    margin: 0;
    padding: 0;
}
.block1{
    display: flex;
    position: absolute;
    top: 71px;
   left: 372px;
}
.box1{
    width: 200px;
    background: #ff6700;
    height: 200px;
    
}
.boxa{
    position: absolute;
    top: 117px;
    left: 120px;
    width: 80px;
    background:white;
    height: 83px;
    border-radius: 250px 0px;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    
}
.box3{
    width: 200px;
    height: 200px;
    background-color: #848181;
}
.boxb{
    position: absolute;
    top: 117px;
    height: 83px;
    background-color: #23236c;
    width: 80px;
    border-radius: 0 250px
}
.boxc{
    position: absolute;
    left: 120px;
width: 80px;
background: #ff6700;
height: 83px;
border-radius: 0px 250px;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: #23236c;
}
.boxd{
    
        width: 80px;
        background-color: #848181;
        height: 83px;
        border-radius: 250px 0px;
}
.block2{
    display: flex;
    position: absolute;
    top: 271px;
    left: 371px; 
}